<!-- Form review start -->
<%= form_with(model: @review, local: true) do |f| %>
<!-- Form review end -->

  <!-- Label and input for rating start -->
  <div class="form-group">
    <%= f.label :rating %>

    <!-- Input for rating start -->
    <%= f.text_field :rating, class: "form-control" %>
    <!-- Input for rating end -->
  </div>
  <!-- Label and input for rating end -->

  <!-- Label and input for review start -->
  <div class="form-group">
    <%= f.label :review %>

    <!-- Input for review start -->
    <%= f.text_field :review, class: "form-control" %>
    <!-- Input for review end -->
  </div>
  <!-- Label and input for review end -->

  <!-- Label and input for reviewer_id start -->
  <!-- Input for reviewer_id start -->
  <%= f.hidden_field :reviewer_id, value: @profile.id %>
  <!-- Input for reviewer_id end -->
  <!-- Label and input for reviewer_id end -->

  <!-- Label and input for movie_id start -->
  <div class="form-group">
    <%= f.label :movie_id %>

    <!-- Input for movie_id start -->
    <%= f.text_field :movie_id, class: "form-control" %>
    <!-- Input for movie_id end -->
  </div>
  <!-- Label and input for movie_id end -->

  <%= f.submit "Create review", class: "btn btn-block btn-outline-secondary" %>
<% end %>
