<!-- Form character start -->
<%= form_with(model: @character, local: true) do |f| %>
<!-- Form character end -->

  <!-- Label and input for movie_id start -->
  <div class="form-group">
    <%= f.label :movie_id %>

    <!-- Input for movie_id start -->
    <%= f.collection_select :movie_id, Movie.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for movie_id end -->
  </div>
  <!-- Label and input for movie_id end -->

  <!-- Label and input for actor_id start -->
  <!-- Input for actor_id start -->
  <%= f.hidden_field :actor_id, value: @actor.id %>
  <!-- Input for actor_id end -->
  <!-- Label and input for actor_id end -->

  <!-- Label and input for character_name start -->
  <div class="form-group">
    <%= f.label :character_name %>

    <!-- Input for character_name start -->
    <%= f.text_field :character_name, class: "form-control" %>
    <!-- Input for character_name end -->
  </div>
  <!-- Label and input for character_name end -->

  <%= f.submit "Create character", class: "btn btn-block btn-outline-secondary" %>
<% end %>
