<div class="card mb-3">
  <h2 class="card-header h4">
    Actor #<%= actor.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Actor name</dt>
      <dd><%= actor.actor_name %></dd>

      <dt>Actor number</dt>
      <dd><%= actor.actor_number %></dd>

      <dt>Dob</dt>
      <dd><%= actor.dob %></dd>

      <dt>Bio</dt>
      <dd><%= actor.bio %></dd>

      <dt>Image</dt>
      <dd>
        <%= cl_image_tag @actor.image, class: "img-fluid" %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back actor, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_actor_url(actor), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to actor, method: :delete, data: { confirm: "Do you really want to delete this actor?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(actor.updated_at) %> ago
  </div>
</div>
