<% was_validated = movie.errors.any? %>

<%= form_with(model: movie, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for flyer start -->
  <div class="form-group">
    <% flyer_class = "form-control" %>
    <% flyer_was_invalid = movie.errors.include?(:flyer) %>

    <% if was_validated %>
      <% if flyer_was_invalid %>
        <% flyer_class << " is-invalid" %>
      <% else %>
        <% flyer_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :flyer %>
    <!-- Input for flyer start -->
    <%= f.text_field :flyer, class: flyer_class, placeholder: "Enter flyer" %>
    <!-- Input for flyer end -->
    <% if flyer_was_invalid %>
      <% movie.errors.full_messages_for(:flyer).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for flyer end -->
  <!-- Label and input for title start -->
  <div class="form-group">
    <% title_class = "form-control" %>
    <% title_was_invalid = movie.errors.include?(:title) %>

    <% if was_validated %>
      <% if title_was_invalid %>
        <% title_class << " is-invalid" %>
      <% else %>
        <% title_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :title %>
    <!-- Input for title start -->
    <%= f.text_field :title, class: title_class, placeholder: "Enter title" %>
    <!-- Input for title end -->
    <% if title_was_invalid %>
      <% movie.errors.full_messages_for(:title).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for title end -->
  <!-- Label and input for production_year start -->
  <div class="form-group">
    <% production_year_class = "form-control" %>
    <% production_year_was_invalid = movie.errors.include?(:production_year) %>

    <% if was_validated %>
      <% if production_year_was_invalid %>
        <% production_year_class << " is-invalid" %>
      <% else %>
        <% production_year_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :production_year %>
    <!-- Input for production_year start -->
    <%= f.datetime_select :production_year, class: production_year_class, placeholder: "Enter production year" %>
    <!-- Input for production_year end -->
    <% if production_year_was_invalid %>
      <% movie.errors.full_messages_for(:production_year).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for production_year end -->
  <!-- Label and input for description start -->
  <div class="form-group">
    <% description_class = "form-control" %>
    <% description_was_invalid = movie.errors.include?(:description) %>

    <% if was_validated %>
      <% if description_was_invalid %>
        <% description_class << " is-invalid" %>
      <% else %>
        <% description_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :description %>
    <!-- Input for description start -->
    <%= f.text_field :description, class: description_class, placeholder: "Enter description" %>
    <!-- Input for description end -->
    <% if description_was_invalid %>
      <% movie.errors.full_messages_for(:description).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for description end -->
  <!-- Label and input for director_id start -->
  <div class="form-group">
    <% director_class = "form-control" %>
    <% director_was_invalid = movie.errors.include?(:director) %>

    <% if was_validated %>
      <% if director_was_invalid %>
        <% director_class << " is-invalid" %>
      <% else %>
        <% director_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :director_id %>
    <!-- Input for director_id start -->
    <%= f.number_field :director_id, class: director_class, placeholder: "Enter director" %>
    <!-- Input for director_id end -->
    <% if director_was_invalid %>
      <% movie.errors.full_messages_for(:director).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for director_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
