<%= form_with(model: @movie, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :flyer %>

    <%= f.file_field :flyer, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :title %>

    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :production_year %>
    <%= f.datetime_select :production_year, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>

    <%= f.text_field :description, class: "form-control" %>
  </div>

  <%= f.hidden_field :director_id, value: @director.id %>

  <%= f.submit "Create movie", class: "btn btn-block btn-outline-secondary" %>
<% end %>
