<%= search_form_for @q, :class => collapse_search_form, :id => "directors_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :director_name_cont, "Director name contains" %>
    <%= f.text_field :director_name_cont, :class => "form-control", :placeholder => "Director name contains" %>
  </div>

  <div class="form-group">
    <%= f.label :bio_cont, "Bio contains" %>
    <%= f.text_field :bio_cont, :class => "form-control", :placeholder => "Bio contains" %>
  </div>

  <div class="form-group">
    <%= f.label :director_number, "Director number" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :director_number_gteq, :class => "form-control", :placeholder => "Director number greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :director_number_lteq, :class => "form-control", :placeholder => "Director number less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :dob, "Dob" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='dobgteqPicker' data-target-input="nearest">
          <%= f.text_field :dob_gteq, :class => "form-control datetimepicker-input", :placeholder => "Dob greater than or equal to", :data => {:target => '#dobgteqPicker'} %>
          <div class="input-group-append" data-target='#dobgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='doblteqPicker' data-target-input="nearest">
          <%= f.text_field :dob_lteq, :class => "form-control datetimepicker-input", :placeholder => "Dob less than or equal to", :data => {:target => '#doblteqPicker'} %>
          <div class="input-group-append" data-target='#doblteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#dobgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#doblteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#dobgteqPicker').on("dp.change", function (e) {
              $('#doblteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#doblteqPicker').on("dp.change", function (e) {
              $('#dobgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>

  <div class="form-group">
    <%= f.label :created_at, "Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='created_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Created at greater than or equal to", :data => {:target => '#created_atgteqPicker'} %>
          <div class="input-group-append" data-target='#created_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='created_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Created at less than or equal to", :data => {:target => '#created_atlteqPicker'} %>
          <div class="input-group-append" data-target='#created_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#created_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atgteqPicker').on("dp.change", function (e) {
              $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#created_atlteqPicker').on("dp.change", function (e) {
              $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <div class="form-group">
    <%= f.label :created_at, "Movie Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='moviesgteqcreated_atPicker' data-target-input="nearest">
          <%= f.text_field :movies_created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Movie Created at greater than or equal to", :data => {:target => '#moviesgteqcreated_atPicker'} %>
          <div class="input-group-append" data-target='#moviesgteqcreated_atPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='movieslteqcreated_atPicker' data-target-input="nearest">
          <%= f.text_field :movies_created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Movie Created at less than or equal to", :data => {:target => '#movieslteqcreated_atPicker'} %>
          <div class="input-group-append" data-target='#movieslteqcreated_atPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#moviesgteqcreated_atPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#movieslteqcreated_atPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#moviesgteqcreated_atPicker').on("dp.change", function (e) {
              $('#movieslteqcreated_atPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#movieslteqcreated_atPicker').on("dp.change", function (e) {
              $('#moviesgteqcreated_atPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/directors" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#directors_filters">
  Show filters
</a>
