<!-- Form movie start -->
<%= form_with(model: @movie, local: true) do |f| %>
<!-- Form movie end -->

  <!-- Label and input for flyer start -->
  <div class="form-group">
    <%= f.label :flyer %>

    <!-- Input for flyer start -->
    <%= f.file_field :flyer, class: "form-control" %>
    <!-- Input for flyer end -->
  </div>
  <!-- Label and input for flyer end -->

  <!-- Label and input for title start -->
  <div class="form-group">
    <%= f.label :title %>

    <!-- Input for title start -->
    <%= f.text_field :title, class: "form-control" %>
    <!-- Input for title end -->
  </div>
  <!-- Label and input for title end -->

  <!-- Label and input for production_year start -->
  <div class="form-group">
    <%= f.label :production_year %>
    <!-- Input for production_year start -->
    <%= f.datetime_select :production_year, class: "form-control" %>
    <!-- Input for production_year end -->
  </div>
  <!-- Label and input for production_year end -->

  <!-- Label and input for description start -->
  <div class="form-group">
    <%= f.label :description %>

    <!-- Input for description start -->
    <%= f.text_field :description, class: "form-control" %>
    <!-- Input for description end -->
  </div>
  <!-- Label and input for description end -->

  <!-- Label and input for director_id start -->
  <!-- Input for director_id start -->
  <%= f.hidden_field :director_id, value: @director.id %>
  <!-- Input for director_id end -->
  <!-- Label and input for director_id end -->

  <%= f.submit "Create movie", class: "btn btn-block btn-outline-secondary" %>
<% end %>
