<% was_validated = director.errors.any? %>

<%= form_with(model: director, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% director_name_class = "form-control" %>
    <% director_name_was_invalid = director.errors.include?(:director_name) %>

    <% if was_validated %>
      <% if director_name_was_invalid %>
        <% director_name_class << " is-invalid" %>
      <% else %>
        <% director_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :director_name %>
    <%= f.text_field :director_name, class: director_name_class, placeholder: "Enter director name" %>
    <% if director_name_was_invalid %>
      <% director.errors.full_messages_for(:director_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% dob_class = "form-control" %>
    <% dob_was_invalid = director.errors.include?(:dob) %>

    <% if was_validated %>
      <% if dob_was_invalid %>
        <% dob_class << " is-invalid" %>
      <% else %>
        <% dob_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :dob %>
    <%= f.datetime_select :dob, class: dob_class, placeholder: "Enter dob" %>
    <% if dob_was_invalid %>
      <% director.errors.full_messages_for(:dob).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% director_number_class = "form-control" %>
    <% director_number_was_invalid = director.errors.include?(:director_number) %>

    <% if was_validated %>
      <% if director_number_was_invalid %>
        <% director_number_class << " is-invalid" %>
      <% else %>
        <% director_number_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :director_number %>
    <%= f.number_field :director_number, class: director_number_class, placeholder: "Enter director number" %>
    <% if director_number_was_invalid %>
      <% director.errors.full_messages_for(:director_number).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% bio_class = "form-control" %>
    <% bio_was_invalid = director.errors.include?(:bio) %>

    <% if was_validated %>
      <% if bio_was_invalid %>
        <% bio_class << " is-invalid" %>
      <% else %>
        <% bio_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :bio %>
    <%= f.text_field :bio, class: bio_class, placeholder: "Enter bio" %>
    <% if bio_was_invalid %>
      <% director.errors.full_messages_for(:bio).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% image_class = "form-control" %>
    <% image_was_invalid = director.errors.include?(:image) %>

    <% if was_validated %>
      <% if image_was_invalid %>
        <% image_class << " is-invalid" %>
      <% else %>
        <% image_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
    <% if image_was_invalid %>
      <% director.errors.full_messages_for(:image).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
