<div class="card mb-3">
  <h2 class="card-header h4">
    Character #<%= character.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Movie</dt>
      <!-- Display movie_id start -->
      <dd>
        <% if @character.movie.present? %>
          <%= link_to character.movie, character.movie %>
        <% end %>
      </dd>
      <!-- Display movie_id end -->

      <dt>Actor</dt>
      <!-- Display actor_id start -->
      <dd>
        <% if @character.actor.present? %>
          <%= link_to character.actor, character.actor %>
        <% end %>
      </dd>
      <!-- Display actor_id end -->

      <dt>Character name</dt>
      <!-- Display character_name start -->
      <dd><%= character.character_name %></dd>
      <!-- Display character_name end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back character, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link character start -->
      <div class="col">
        <%= link_to edit_character_url(character), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link character end -->

      <!-- Delete link character start -->
      <div class="col">
        <%= link_to character, method: :delete, data: { confirm: "Do you really want to delete this character?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link character end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(character.updated_at) %> ago
  </div>
</div>
