<div class="card mb-3">
  <h2 class="card-header h4">
    Review #<%= review.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Rating</dt>
      <!-- Display rating start -->
      <dd><%= review.rating %></dd>
      <!-- Display rating end -->

      <dt>Review</dt>
      <!-- Display review start -->
      <dd><%= review.review %></dd>
      <!-- Display review end -->

      <dt>Reviewer</dt>
      <!-- Display reviewer_id start -->
      <dd><%= review.reviewer_id %></dd>
      <!-- Display reviewer_id end -->

      <dt>Movie</dt>
      <!-- Display movie_id start -->
      <dd><%= review.movie_id %></dd>
      <!-- Display movie_id end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back review, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link review start -->
      <div class="col">
        <% if current_profile == @review.reviewer %>
          <%= link_to edit_review_url(review), class: "btn btn-block btn-sm btn-outline-secondary" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>
      <!-- Edit link review end -->

      <!-- Delete link review start -->
      <div class="col">
        <% if current_profile == @review.reviewer %>
          <%= link_to review, method: :delete, data: { confirm: "Do you really want to delete this review?" }, class: "btn btn-block btn-outline-secondary" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
      <!-- Delete link review end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(review.updated_at) %> ago
  </div>
</div>
