<% was_validated = review.errors.any? %>

<%= form_with(model: review, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for rating start -->
  <div class="form-group">
    <% rating_class = "form-control" %>
    <% rating_was_invalid = review.errors.include?(:rating) %>

    <% if was_validated %>
      <% if rating_was_invalid %>
        <% rating_class << " is-invalid" %>
      <% else %>
        <% rating_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :rating %>
    <!-- Input for rating start -->
    <%= f.number_field :rating, class: rating_class, placeholder: "Enter rating" %>
    <!-- Input for rating end -->
    <% if rating_was_invalid %>
      <% review.errors.full_messages_for(:rating).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for rating end -->
  <!-- Label and input for review start -->
  <div class="form-group">
    <% review_class = "form-control" %>
    <% review_was_invalid = review.errors.include?(:review) %>

    <% if was_validated %>
      <% if review_was_invalid %>
        <% review_class << " is-invalid" %>
      <% else %>
        <% review_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :review %>
    <!-- Input for review start -->
    <%= f.text_field :review, class: review_class, placeholder: "Enter review" %>
    <!-- Input for review end -->
    <% if review_was_invalid %>
      <% review.errors.full_messages_for(:review).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for review end -->
  <!-- Label and input for reviewer_id start -->
  <!-- Input for "reviewer_id" start -->
  <%= f.hidden_field :reviewer_id, value: current_profile.id %>
  <!-- Input for "reviewer_id" end -->
  <!-- Label and input for reviewer_id end -->
  <!-- Label and input for movie_id start -->
  <div class="form-group">
    <% movie_class = "form-control" %>
    <% movie_was_invalid = review.errors.include?(:movie) %>

    <% if was_validated %>
      <% if movie_was_invalid %>
        <% movie_class << " is-invalid" %>
      <% else %>
        <% movie_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :movie_id %>
    <!-- Input for movie_id start -->
    <%= f.collection_select :movie_id, Movie.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for movie_id end -->
    <% if movie_was_invalid %>
      <% review.errors.full_messages_for(:movie).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for movie_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
